/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* -------------------------- Background image for index page ------------------------- */
/* Photo provided for free by Science in HD */
/* https://unsplash.com/photos/i4ABHj811N0 */
.index_page_background
{
    background-image: url("/static/img/photo-1574689049868-e94ed5301745.jpeg");
    -webkit-box-shadow: inset 0 7em 7em 0 rgb(0, 0, 0), inset 15em 15em 15em 0 rgba(0, 0, 0, 0.796), inset 20em 30em 30em 0 rgba(0, 0, 0, 0.639);
    box-shadow: inset 0 7em 7em 0 rgb(0, 0, 0), inset 15em 15em 15em 0 rgba(0, 0, 0, 0.796), inset 20em 30em 30em 0 rgba(0, 0, 0, 0.639);
}

/* --------------- Index page  -------------- */
.index-page
{
    /* position: relative; */
    width: 100%;
	max-width: 100%;
	height: 100vh;
    display: table;
}


/* -------------- Container for the register btn of index page  -------------- */
.index-container
{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(37, 88, 139, 0.25);
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
}
/* -------------- End of container for the btn of index page -------------- */


/* -------------- Register Button on index page -------------- */
.btn-link-container a {
    padding: 35px 140px;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid #3a86ff;
    background-color: #537fbe;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;       
}

.btn-link-container a:hover
{
    background-color: rgba(54, 162, 235, 0.2);
}
/* -------------- End of the Register Button on index page -------------- */

.pm-info
{
    background-color: white;
    position: relative;
}

/* -------------- svg  of index page  -------------- */
.svg-lightning
{
    color: #3a86ff;
    margin-bottom: 5%;
}

.svg-what-is
{
    color: #537fbe;
    margin-bottom: 10%;
}

.svg-what-does
{
    color: #f5b92e;
    margin-bottom: 10%;
}

.svg-how-to
{
    color: #ea433b;
    margin-bottom: 10%;
}
/* -------------- End of svg  of index page  -------------- */


/* -------------- Second background img for small gap between sections  -------------- */
/* Photo provided for free by Kateryna Babaieva */
/* https://www.pexels.com/photo/man-standing-beside-heavy-equipment-2760242/ */
.second_background
{
    background-image: url("/static/img/pexels-photo-2760242.jpeg");
    height: 450px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* -------------- End of second background img for small gap between main and section  -------------- */


/* -------------- Back to top btn on index page -------------- */
/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #537fbe;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    -webkit-box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.68);
            box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.68);
}
  
#myBtn:hover {
    background-color: #3a86ff;
}
/* -------------- Back to top btn on index page -------------- */


/* -------------- Feature icons colors -------------- */
.pm-info .fa-headset, .pm-info .fa-users, .pm-info .fa-calendar-alt, .pm-info .fa-cloud-upload-alt, .pm-info .fa-credit-card, .pm-info .fa-wrench
{
    color: #f5b92e;
    padding-bottom: 5%;
}

/* -------------- Feature titles colors -------------- */
.features
{
    color: #537fbe;
}

/* -------------- Pricing divs -------------- */
.free-plan
{
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
}

.free-plan p
{
    text-align: left;
}

.pricing-plan
{
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
    height: 650px
    
}

.pricing-plan-list
{
    padding: 15px;
}

.pricing-plan p
{
    text-align: left;
}
/* -------------- End pricing divs -------------- */

/* -------------- Title pricing plan backgraound color -------------- */
.bg-free
{
    background-color: gainsboro;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.bg-pro
{
    background-color: #537fbe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.bg-premium
{
    background-color: #f5b92e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.bg-enterprise
{
    background-color: #ea433b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
/* -------------- End of Title pricing plan backgraound color -------------- */


/* -------------- For div that display the price plan -------------- */
.pricing-plan-per-month
{
    padding: 10px;
}


/* ------------------- div for btn princing plan  ----------------- */
.container-btn-pricing-plan
{
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
}


/* -------------- For btn inside the price plan div -------------- */
.btn-pricing-plan
{
    border-radius: 20px;
    padding: 5px 25px;
}


/* -------------- third background img for small gap between sections  -------------- */
/* Photo provided for free by Kateryna Babaieva */
/* https://www.pexels.com/photo/man-standing-beside-heavy-equipment-2760242/ */
.third_background
{
    background-image: url("/static/img/pexels-photo-3784335.jpeg");
    height: 450px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* -------------- End of third background img for small gap between main and section  -------------- */


/* ----------------For testimonial on index page ---------------- */
/* Photo provided for free by Digital Buggu */
/* https://www.pexels.com/photo/colorful-toothed-wheels-171198/ */
/* and modified by me */
.testimonial
{
    background-image: url("/static/img/pexels-photo-171198-back-white.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonial hr
{
    border: 1px solid gainsboro;
}

.testimonial-title
{
    color: white;
}

.carousel-inner {
    border-radius: 20px !important;
}

.card-header
{
    height: 150px;
    background-color: #537fbe;;
}

.star-icon
{
    color: #f5b92e;
}

.img-card
{
    position: relative;
    margin-bottom: -150px;
    width: 150px;
    border-radius: 50%;
}

.card-body
{
    height: 400px;
    background-color:#f0efeb;
    padding: 100px 50px 10px 50px 
}

.card-full-story
{
    text-decoration: none !important;
}

.carousel-indicators li
{
    background-color: rgb(213, 4, 4) !important; 
}

.carousel-indicators .active
{
    background-color:rgb(14, 24, 213) !important;
}

.carousel-control-prev:hover
{
    -webkit-box-shadow:  inset 3em 0 3em -3em rgba(0, 0, 0, 0.796);
            box-shadow:  inset 3em 0 3em -3em rgba(0, 0, 0, 0.796);
}

.carousel-control-next:hover
{
    -webkit-box-shadow:  inset -3em 0 3em -3em rgba(0, 0, 0, 0.796);
            box-shadow:  inset -3em 0 3em -3em rgba(0, 0, 0, 0.796);
}

.testimonial .fa-caret-left, .testimonial .fa-caret-right
{
    color: #f5b92e;
}


/* ---------------------------------- not ussing it at the moment */
/* .card-footer
{
    background-color:#f0efeb;
    padding-top: 20px;
    padding-bottom: 60px;
} */


/* -------------- For contact form on landing page ---------------- */
.contact-form
{
    background-color: #f0efeb;
    border-radius: 10px;
    padding: 20px;
}

.contact-title, .contact-text
{
    color: white;
}


.btn-contact
{
    border-radius: 20px;
    padding: 5px 25px;
}

/*------------ Media Queries ------------*/
@media screen and (max-width:768px)
{

    .index_page_background
    {
        -webkit-box-shadow: inset 0 5em 5em 0 rgb(0, 0, 0), inset 10em 10em 10em 0 rgba(0, 0, 0, 0.796), inset 20em 20em 20em 0 rgba(0, 0, 0, 0.639);
        box-shadow: inset 0 5em 5em 0 rgb(0, 0, 0), inset 10em 10em 10em 0 rgba(0, 0, 0, 0.796), inset 20em 20em 20em 0 rgba(0, 0, 0, 0.639);
    }

    /* -------------- For display the content of index page  -------------- */
    .index-container
    {
        padding: 1rem;
    }
    /* -------------- End of display the content of index page  -------------- */

    
    /* -------------- For the Register Button on index page -------------- */
    .btn-link-container a {
        padding: 10px 55px;
        font-size: 15px;
        border-radius: 5px;       
    }
    /* -------------- End of the Register Button on index page -------------- */

    /* -------------- Back to top btn on index page -------------- */
    #myBtn 
    {
        font-size: 12px;
        padding: 10px;
        bottom: 60px;
        background-color: #5380bea8;
    }

}