/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* -------------- For div -------------- */
.login-container
{
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
    background-color: white;
}
/* -------------- End of div -------------- */

.login-title
{
    background-color: gainsboro;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.form-comtainer, .login-footer
{
    padding: 15px; 
}

.login-container .form-group label
{
    color: grey;
    font-size: 80%;
}

.btn-login-form
{
    border-radius: 20px;
    padding: 5px 20px;
}

/* -------------- End of login form -------------- */

