{% extends "layout.html" %}

{% block title %}
    Attribute Page
{% endblock %}


{% block main %}

    <div class='attribute-container'>
        <h4>The main background image from the landing page</h4> 
        <p> Photo provided for free by <a href="https://unsplash.com/" target="_blank" rel="noopener noreferrer">Unsplash</a>. View <a href="https://unsplash.com/license" target="_blank" rel="noopener noreferrer">Unsplash license</a>.</p>
        <img src="/static/img/photo-1574689049868-e94ed5301745.jpeg" alt="Photo from unsplash.com" style="width: 90px;">
        <a href="https://unsplash.com/photos/i4ABHj811N0" target="_blank" rel="noopener noreferrer">From unsplash</a> photo by <a href="https://unsplash.com/@scienceinhd" target="_blank" rel="noopener noreferrer">Science in HD</a>

        <hr>

        <h4>The second background image from the landing page</h4> 
        <p> Photo provided for free by <a href="https://www.pexels.com/" target="_blank" rel="noopener noreferrer">Pexels</a>. View <a href="https://www.pexels.com/license/" target="_blank" rel="noopener noreferrer">Pexels license</a>.</p>
        <img src="/static/img/pexels-photo-2760242.jpeg" alt="Photo from pexels.com" style="width: 90px;">
        <a href="https://www.pexels.com/photo/man-standing-beside-heavy-equipment-2760242/" target="_blank" rel="noopener noreferrer">From pexels</a> photo by <a href="https://www.pexels.com/@kateryna-babaieva-1423213" target="_blank" rel="noopener noreferrer">Kateryna Babaieva</a>

        <hr>

        <h4 class="mb-4">The four icons from buttons on profile page</h4>
        <p> Data provided for free by <a href="https://icons8.com" target="_blank" rel="noopener noreferrer">Icons8</a>. View <a href="https://icons8.com/terms-and-conditions" target="_blank" rel="noopener noreferrer">Icons8 Terms of Use</a>.</p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                    <p>
                        <img src="static/img/icons8-administrator-male-100.png" id='profile-img1' alt="Password img">
                        <a href="https://icons8.com/icons/set/administrator-male" target="_blank" rel="noopener noreferrer">Administrator Male icon</a> icon by <a href="https://icons8.com" target="_blank" rel="noopener noreferrer">Icons8</a>
                    </p>
                    <p>
                        <img src="static/img/icons8-admin-settings-male-100.png" id='profile-img2' alt="Password img">
                        <a href="https://icons8.com/icons/set/admin-settings-male" target="_blank" rel="noopener noreferrer">Admin Settings Male icon</a> icon by <a href="https://icons8.com" target="_blank" rel="noopener noreferrer">Icons8</a>
                    </p> 
            </div>

            <div class="col-md-6 col-sm-12">
                <p>     
                    <img src="static/img/icons8-password-100.png" id='pass-img1' alt="Password img">
                    <a href="https://icons8.com/icons/set/password" target="_blank" rel="noopener noreferrer">Password icon</a> icon by <a href="https://icons8.com" target="_blank" rel="noopener noreferrer">Icons8</a>
                </p> 
                <p>
                    <img src="static/img/icons8-password-100-1.png" id='pass-img2' alt="Password img">                     
                    <a href="https://icons8.com/icons/set/password" target="_blank" rel="noopener noreferrer">Password icon</a> icon by <a href="https://icons8.com" target="_blank" rel="noopener noreferrer">Icons8</a> 
                </p>
            </div>
        </div>
        
        <hr>

        <h4 class="mb-4">For Public Holiday API</h4>
        Data provided for free by <a id='calendarific' href="https://calendarific.com/" target="_blank" rel="noopener noreferrer">Calendarific</a>. View <a href="https://calendarific.com/terms" target="_blank" rel="noopener noreferrer">Calendarific Terms of Use</a>.
        
        
    </div>

{% endblock %}
